%h3 Estadisticas
#chart_div{:style => "width: 1200px; height: 900px;"}
#total_por_dia{:style => "width: 1200px; height: 900px;"}
- content_for :head do
  :javascript
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
      var data2 = google.visualization.arrayToDataTable(#{total_por_dia_data});
      var data = google.visualization.arrayToDataTable(#{entidad_chart_data});

      var options = {
        title: 'Compras por Entidad Gubernamental',
        sliceVisibilityThreshold: 1/200
      };
      var options2 = {};

      var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
      chart.draw(data, options);

      var total_por_dia = new google.visualization.LineChart(document.getElementById('total_por_dia'));
      total_por_dia.draw(data2, options2);
    }


